@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #000;
    color: #22c55e;
    font-family: monospace;
}

/* Personalizzazione scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #22c55e;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #16a34a;
}